<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="jsonRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/jvb/json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>/var/log/jvb/json.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="asyncJsonRollingFileAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000</queueSize>
        <appender-ref ref="jsonRollingFileAppender" />
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="asyncJsonRollingFileAppender"/>
    </root>

    <logger name="org.ice4j.ice.harvest.AbstractUdpListener" level="INFO"/>
    <logger name="org.jitsi.videobridge.Endpoint" level="INFO"/>
</configuration>