[Unit]
Description=Videobridge
After=network.target

[Service]
Environment="JAVA_SYS_PROPS=-Dorg.ice4j.ice.harvest.STUN_MAPPING_HARVESTER_ADDRESSES=meet-jit-si-turnrelay.jitsi.net:443 -Dorg.jitsi.videobridge.ENABLE_REST_SHUTDOWN=true -Dorg.jitsi.videobridge.shutdown.ALLOWED_SOURCE_REGEXP=.*"
ExecStart=/opt/jvb.docker.sh --apis=rest
User=nobody

[Install]
WantedBy=multi-user.target
